{% macro date_card(date, platform, primary=false) %}
<div id="{{ date|string }}" class="date--card">
    <div class="header">
        <div class="date--info">
            <h2>{{ date.strftime('%A') }}</h2>

            <p>{{ format_date(date, platform) }}</p>
        </div>
        <div class="weather">
            <div class="temperatures">
                <span class="temp hi"></span>
                <span class="temp lo"></span>
            </div>
            {% if primary %}
            <img class="forecast--image" src="//:0">
            {% else %}
            <img class="forecast--image" src="//:0">
            {% endif %}
        </div>
    </div>
    <div class="event--container"></div>
</div>
{% endmacro %}
