{# 'with context' required to use context_processors #}
{% from 'components/event.html' import event_container with context %}

{% macro date_card(d, primary=false) %}
<div id="{{ d|string }}" class="date--card">
    <div class="header">
        <div class="date--info">
            {#- day of the week -#}
            <h2>{{ d.strftime('%A') }}</h2>

            {#- date -#}
            <p>{{ d.strftime(date_format) }}</p>
        </div>
        <div class="weather">
            <div class="temperatures">
                <span class="temp hi"></span>
                <span class="temp curr"></span>
                <span class="temp lo"></span>
            </div>
            <div class="forecast-img-container" data-weather-icon="">
                <img class="forecast--image" src="//:0">
            </div>
        </div>
    </div>
    <div class="event--container">
        {% for event in events %}
            {% if d|string in event.dates %}
            {{ event_container(event, d) }}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endmacro %}
