{% macro event_wrapper(event, for_date, platform) %}

{%+ set start_date_comp = date_comparator(event.start_date, for_date) %}
{%+ set end_date_comp = date_comparator(event.end_date, for_date) %}

<div id="{{ event.id }}" class="event" style="{{ event.style }}">
    <div class="time">
        <p class="datetime start" data-dt="{{ event.start_date|string }}">
            {% if start_date_comp == 0 -%}
                {{ format_time(event.start_date, platform) }}
            {%- endif %}
        </p>
        <p class="datetime end" data-dt="{{ event.end_date|string }}">
            {% if end_date_comp == 0 -%}
                - {{ format_time(event.end_date, platform) }}
            {%- elif end_date_comp == -1 -%}
                - 11:59 PM
            {%- endif %}
        </p>
    </div>
    <p class="summary">{{ event.summary }}</p>
</div>
{% endmacro %}
