<div class="wrapper">
    {% for event in events %}
        <div id="{{ event['id'] }}" class="event" style="{{ event['style'] }}">
            <div class="time">
                <p class="datetime start" data-dt="{{ event['start'].get('dateTime', event['start']['date']) }}">
                    {% if 'dateTime' in event['start'] %}
                    {{ format_time(event['start'].get('dateTime'), platform) }}
                    {% endif %}
                </p>
                <p class="datetime end" data-dt="{{ event['end'].get('dateTime', event['end']['date']) }}">
                    {% if 'dateTime' in event['end'] %}
                    {{ format_time(event['end'].get('dateTime'), platform) }}
                    {% endif %}
                </p>
            </div>
            <p class="summary">{{ event['summary'] }}</p>
        </div>
    {% endfor %}
</div>