{% macro event_container(event, d) %}

{% set starts_today = (event.dates.index(d|string) == 0) %}
{% set ends_today = (event.dates.index(d|string) == event.dates|length - 1) %}

<div id="{{ event.id }}"
     class="event{{ ' carryover--yesterday' if not starts_today else '' }}{{ ' carryover--tomorrow' if not ends_today else '' }}"
     style="{{ event.style }}">
    <div class="time">
        <p class="start">
            {%- if starts_today -%}
                {{ event.start_dt.strftime(time_format) }}
            {%- endif -%}
        </p>
        <p class="end">
            {%- if ends_today -%}
                - {{ event.end_dt.strftime(time_format) }}
            {%- endif -%}
        </p>
    </div>
    <p class="summary">{{ event.summary|e }}</p>
</div>
{% endmacro %}
