# database
*.db

# environmental files
*.env**
client_secret*

# self-signed certificate for testing
*.pem
*.key

# IDE files
.idea/

# python temp files
__pycache__/
.pytest_cache/

# virtual environments
venv/

# vim files
*~
