body {
  background: url("/static/images/backgrounds/partly-cloudy-day.jpg") no-repeat;
  background-size: cover;

  background-color: var(--bg-color);
  color: var(--primary-color);

  overflow: hidden;
}

main.content {
  display: grid;
  grid-template-areas:
    "info    secondary"
    "primary secondary";
  grid-template-rows: 25% 75%;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));

  height: 100vh;
  width: 100%;
}


@keyframes fadein {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

/* INFO PANEL */

#info {
  position: relative;

  grid-area: info;

  display: flex;
  justify-content: center;
  align-items: center;
}

#settings {
  position: absolute;
  top: 0;
  left: 0;

  text-decoration: none;
  color: inherit;

  text-indent: -9999px;
}

#settings::before {
  content: '\2630';

  position: absolute;
  left: calc(9999px + 0.25em);

  font-size: 2em;
}

#flash--container {
  position: absolute;
  top: 0;
  width: 75%;
}

#clock--time {
  font-size: 6em;
  white-space: nowrap;
}

/* DAY CARD */

.date--card {
  display: grid;

  height: 100%;

  opacity: 0.9;

  background-color: var(--primary-color);
  box-shadow: -0.05rem 0.05rem 0.1rem var(--event-color);

  border-radius: var(--default-border-radius);
}

.date--card .header {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 40%);
  align-items: center;
  text-align: center;

  padding: 0 1em;
  font-size: 1.6em;

  background-color: var(--header-color);
  white-space: nowrap;
}

.date--card .header h2 {
  margin-bottom: 0.25em;
}

.date--card .header p {
  margin-top: 0;
}


/* PRIMARY */

#primary {
  grid-area: primary;

  margin-left: 0.3036em;
  margin-bottom: 0.3036em;

  font-size: 1.4em;
}

#primary .date--card {
  grid-template-rows: min-content 1fr;
}

#primary .date--card .header {
  border-top-left-radius: var(--default-border-radius);
  border-top-right-radius: var(--default-border-radius);

  font-size: 2em;
}

#primary .event .time {
  min-width: 135px;
}

/* SECONDARY */

#secondary {
  grid-area: secondary;

  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 0.25em;

  margin: 0.5em;

  font-size: 0.85em;
}

#secondary .date--card {
  grid-template-columns: minmax(min-content, 40%) 1fr;
}

#secondary .date--card .header {
  border-top-left-radius: var(--default-border-radius);
  border-bottom-left-radius: var(--default-border-radius);
}

#secondary .event .time {
  min-width: 80px;
}

#secondary .event .time * {
  display: none;
}

/* display only the first element in time */
#secondary .event .time p:first-child {
  display: block;
}


/* EVENTS */

.event--container {
  overflow: hidden;

  margin: 0.5em;
}

.event > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event {
  display: flex;
  align-items: center;

  padding: 0.125em 0;
  padding-right: 0.5em;
  margin: 0.125em;
  border-radius: 0.1em;

  color: var(--event-color);
  background-color: var(--event-bg-color);
  border-radius: var(--default-border-radius);

  animation: fadein 1000ms;
}

.event * {
  margin: 0;
}

.event .time {
  text-align: right;
  padding-right: 0.5em;
  margin-right: 0.5em;
  border-right: 0.15em solid var(--primary-color);
}

.event .summary {
  font-size: 1.2em;
  font-weight: bold;
}

/* WEATHER */

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.8em;
}

.weather .forecast--image {
  width: 100%;
  margin-left: 0.8em;
  border-radius: 5%;
}

.weather p {
  font-size: 0.7em;
  margin: 0;
}

.forecast--image[src="//:0"] {
    display: none;
}

#primary .forecast--image {
  width: 164px;
}

#secondary .forecast--image {
  width: 84px;
}

.temperatures {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: right;
}

#primary .temp.hi, #primary .temp.lo {
}

.temp::after{
  content: "\00b0";
}

.temp.hi {
  color: #f39c12;
}

.temp.curr {
  color: #f9ca24;
}

.temp.lo {
  color: #4bcffa;
}

