.content {
  min-height: 100vh;
}

#sidebar .nav-link:hover::after, #sidebar .nav-link:focus::after {
  content: '\21B4';
}

form ul {
  list-style: none;
  padding-left: 0.5em;
}

#settings-submit {
  margin-top: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
}
