main.content {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  text-align: center;
  margin-left: 1em;
  font-weight: bold;
}

.text > h2 {
  margin: 0;
}

.theme__container {
  padding: 0.3em;
}