<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>{% block title %}{% endblock %} | {{ brand.name }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
        {% block head %}{% endblock %}
    </head>

    <body>
        {# an area to add navigation before the main content on pages that require it #}
        {% block navigation %}{% endblock %}

        <main class="content">
            {% block content %}{% endblock %}
        </main>

        {% block scripts %}{% endblock %}
    </body>
</html>
