{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block navigation %}
    <nav class="navbar">
        <p>{{ brand.name }}</p>
    </nav>
{% endblock %}

{% block content %}
    <h1 class="page--header">Authentication</h1>
    <p>Visit <a href="{{ device_credentials.verification_url }}">{{ device_credentials.verification_url }}</a> from another device and enter the code below.</p>
    <p id="device--code">{{ device_credentials.user_code }}</p>

    <p class="whisper">Want to login directly from this device? <a href="{{ url_for('oauth.authorize') }}">Click here</a></p>

    <div id="flash--container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <p class="flash {{ category }}">{{ message }}</p>
        {% endfor %}
    </div>
{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
{% endblock %}