{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Settings{% endblock %}</h1>
<nav>
    <ul>
        <li><a href="#general">General</a></li>
        <li><a href="#calendar">Calendar</a></li>
    </ul>
</nav>

<form method="post">
    <input type="submit" value="Save">

    <h2 id="general">General</h2>
    <!-- Datetime field order -->
    <!-- Time zone -->
    <!-- 24-hour clock -->

    <h2 id="calendar">Calendar</h2>
    <h3>Your Calendars</h3>
        {% for calendar in calendars %}
            <input id="{{ calendar.calendar_id }}" name="calendar" type="checkbox" value="{{ calendar.id }}"{{ ' checked' if calendar.watching }}>
            <label for="{{ calendar.calendar_id }}">{{ calendar.summary }}</label>
            <br>
        {% endfor %}
    <!-- Hide Weekends -->

    <input type="submit" value="Save">
</form>

{% endblock %}