main {
    display: grid;

    /* sets clock to 20vh and fills the rest with primary */
    grid-template-rows: 20vh 1fr;
    grid-template-areas: "clock   secondary"
                         "primary secondary";
    grid-gap: 1em;
    height: 100vh;
}

.clock {
    grid-area: clock;
    background-color: #bdc3c7;
}

.primary {
    grid-area: primary;
    background-color: #3498db;
    height: auto;
}

.secondary {
    grid-area: secondary;
    background-color: #2980b9;
    display: grid;
    grid-row-gap: 0.5em;
}

.clock * {
    text-align: center;
}

.secondary div {
    padding: 1em;

    border: 1px solid black;
}
