{% extends 'base.html' %}

{# 'with context' required to use context_processors #}
{% from 'components/date_card.html' import date_card with context %}

{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard.css') }}">
{% endblock %}

{% block content %}
    <section id="info">
        <div id="flash--container">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <p class="flash {{ category }}">{{ message }}</p>
            {% endfor %}
        </div>
        <a id="settings" href="{{ url_for('main.settings') }}">Settings</a>
        <h1 id="clock--time"></h1>
    </section>
    <section id="primary">
        {{ date_card(dates[0], platform, true) }}
    </section>

    <section id="secondary">
        {% for d in dates[1:] %}
            {{ date_card(d, platform) }}
        {% endfor %}
    </section>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        {# ----- GENERAL ----- #}
        const flashContainer = document.getElementById('flash--container');

        const timeOptions = {
            hour: 'numeric',
            minute: '2-digit',
            hour12: true,
        };

        {# ----- CLOCK ----- #}
        const clockElement = document.getElementById('clock--time');

        {# ----- WEATHER ----- #}
        {# const weatherUrl = "{{ url_for('weather.index') }}"; #}
    </script>
    <script type="module" src="{{ url_for('static', filename='scripts/dashboard/general.mjs') }}"></script>
    <script src="{{ url_for('static', filename='scripts/dashboard/clock.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/dashboard/reload.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/dashboard/weather.mjs') }}"></script>
{% endblock %}