{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/flash.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard.css') }}">
{% endblock %}

{% block content %}
    <section id="info">
        <div id="flash--container" class="flash--container top">
            {% for category, message in get_flashed_messages(with_categories=true) %}
            <p class="flash {{ category }}">{{ message }}</p>
            {% endfor %}
        </div>
        <a id="settings" href="{{ url_for('main.settings') }}">Settings</a>
        <h1 id="clock"></h1>
    </section>
    <section id="primary">
        {% include 'components/date_card.html' %}
    </section>

    <section id="secondary">
        {% for n in range(card_count - 1) %}
            {% include 'components/date_card.html' %}
        {% endfor %}
    </section>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='scripts/dashboard/general.mjs') }}"></script>

    <script type="text/javascript">
        const TIME_OPTIONS = {
            hour: 'numeric',
            minute: '2-digit',
            hour12: !{{ clock_24hr|lower }},
        };
    </script>
    <script type="module" src="{{ url_for('static', filename='scripts/dashboard/clock.mjs') }}"></script>

    <script type="text/javascript">
        const CALENDAR_ENDPOINT = "{{ url_for('calendar_api.events') }}";
    </script>
    <script type="module" src="{{ url_for('static', filename='scripts/dashboard/calendarEvents.mjs') }}"></script>

    <script type="text/javascript">
        const WEATHER_ENDPOINT = "{{ url_for('weather_api.forecast') }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/dashboard/skycons.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/dashboard/weather.mjs') }}"></script>

    <script type="text/javascript">
        const LOGIN_EXTERNAL_ENDPOINT = "{{ external_login_endpoint }}";
    </script>
    <script type="module" src="{{ url_for('static', filename='scripts/dashboard/index.mjs') }}"></script>
{% endblock %}