{% extends 'base.html' %}
{% from 'components/date_card.html' import date_card with context %}

{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard.css') }}">
{% endblock %}

{% block content %}
    <section id="info">
        <div id="flash--container">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <p class="flash {{ category }}">{{ message }}</p>
            {% endfor %}
        </div>
        <a id="settings" href="{{ url_for('main.settings') }}">Settings</a>
        <h1 id="clock--time"></h1>
    </section>
    <section id="primary">
        {{ date_card(dates[0], true) }}
    </section>

    <section id="secondary">
        {% for date in dates[1:] %}
            {{ date_card(date) }}
        {% endfor %}
    </section>
{% endblock %}

{% block scripts %}
    {# GENERAL SCRIPTS #}
    <script type="text/javascript">
        const flashContainer = document.getElementById('flash--container');

        const timeOptions = {
            hour: 'numeric',
            minute: '2-digit',
            hour12: true,
        };
    </script>
    <script type="module" src="{{ url_for('static', filename='scripts/dashboard/general.mjs') }}"></script>


    {# CLOCK SCRIPTS #}
    <script>
        const clockElement = document.getElementById('clock--time');
    </script>
    <script src="{{ url_for('static', filename='scripts/dashboard/clock.js') }}"></script>

    {# EVENT SCRIPTS #}
    <script>
        const eventsUrl = "{{ url_for('calendars.events') }}";
    </script>
    <script type="module" src="{{ url_for('static', filename='scripts/dashboard/fetchEvents.mjs') }}"></script>

    {# WEATHER SCRIPTS #}
    <script type="module" src="{{ url_for('static', filename='scripts/dashboard/weather.mjs') }}"></script>
{% endblock %}