{% extends 'layouts/base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block navigation %}
    {% include 'layouts/navbar.html' with context %}
{% endblock %}

{% block content %}
    <div id="flash--container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
        <p class="flash {{ category }}">{{ message }}</p>
        {% endfor %}
    </div>

    <h1 class="page--header">Authentication</h1>
    <p>Visit <a href="{{ device_credentials.verification_url }}">{{ device_credentials.verification_url }}</a>
        from another device and enter the code below.</p>
    <div class="action--items">
<!--        <span class="encircle">Visit</span>-->
        <img id="google-qr-url" src="{{ url_for('static', filename='images/google-device-authentication.png') }}" />
<!--        <span class="encircle">then enter</span>-->
        <p id="device--code">{{ device_credentials.user_code }}</p>
    </div>

    <p class="whisper">Want to login directly from this device? <a href="{{ url_for('oauth.authorize') }}">Click here</a></p>
{% endblock %}


{% block scripts %}
    <script>
        const pollUrl = "{{ url_for('oauth_lid.poll') }}";
    </script>
    <script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
{% endblock %}